# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
venv/
env/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Flask
instance/
*.log
*.pot
*.pyc

# Node / React
node_modules/
.env
*.local

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
