-- ==============================
-- PostgreSQL E-commerce Schema
-- ==============================

-- Users table
CREATE TABLE users (
    id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    password TEXT NOT NULL,
    role TEXT DEFAULT 'customer',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

INSERT INTO users (id, name, email, password, role, created_at) VALUES
(1,'Admin','admin@sony.com','$2b$12$lpTMiLVfuICMyYqJ8cV7AOvz1sWMiyJw58rajACyFORUcifYM.yf2','admin','2025-07-31 05:31:06'),
(2,'Abhay Stark','abhaystark77@gmail.com','$2b$12$9OvQtBDFVB4dLN4xQr41EOY7pSCObvZ9vCf29iGEfOkecp1JqXxBG','customer','2025-07-31 05:32:53'),
(3,'John Doe','john@example.com','$2b$12$nHs0RsBzTO0ZrLn6gmHCi.8/lD7MhKVDr1wfHNmO2FF2R8Zq76MtS','customer','2025-08-04 14:40:25');

-- Products table
CREATE TABLE products (
    id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    category TEXT NOT NULL,
    price NUMERIC(10,2) NOT NULL,
    image TEXT,
    rating NUMERIC(3,2) DEFAULT 0,
    reviews INTEGER DEFAULT 0,
    description TEXT,
    specs TEXT,
    stock INTEGER DEFAULT 0
);


-- Orders table
CREATE TABLE orders (
    id SERIAL PRIMARY KEY,
    user_id INTEGER NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    total NUMERIC(10,2) NOT NULL,
    status TEXT DEFAULT 'pending',
    address TEXT,
    city TEXT,
    pincode TEXT,
    phone TEXT,
    razorpay_order_id TEXT,
    razorpay_payment_id TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Order items table
CREATE TABLE order_items (
    id SERIAL PRIMARY KEY,
    order_id INTEGER NOT NULL REFERENCES orders(id) ON DELETE CASCADE,
    product_id INTEGER NOT NULL REFERENCES products(id),
    quantity INTEGER NOT NULL,
    price NUMERIC(10,2) NOT NULL
);

-- Delivery areas table
CREATE TABLE delivery_areas (
    id SERIAL PRIMARY KEY,
    city TEXT NOT NULL,
    pincode TEXT,
    active BOOLEAN DEFAULT TRUE
);

INSERT INTO delivery_areas (id, city, pincode, active) VALUES
(1,'Haldwani',NULL,TRUE);

-- Settings table
CREATE TABLE settings (
    id INTEGER PRIMARY KEY CHECK (id = 1),
    store_name TEXT NOT NULL DEFAULT 'Headphone Store',
    maintenance BOOLEAN NOT NULL DEFAULT FALSE
);

INSERT INTO settings (id, store_name, maintenance) VALUES
(1,'Headphone Store',FALSE)
ON CONFLICT (id) DO NOTHING;
